@import "../../App.scss";


.button-update-password,
.button-login,
.button-sign-up,
.button-submit {
    height: 38px;
    padding: 2px 35px;
    border-radius: 10px;
    border: none;
    align-self: center;
    text-decoration: none;
    display: flex;
    color: $white;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    font-weight: 600;
}

.button-submit {
    background: $darkblue;
}

.button-submit:hover {
    background: $white;
    color: $darkblue;
    border: 2px solid $darkblue;
    transition: 0.5s;

}
.button-update-password,
.button-login {
    background: $blue;

}
.button-login:hover {
    background: white;
    color: $blue;
    border: 2px solid $blue;
    transition: 0.5s;

}

.button-sign-up {
    background: $grey1;
}

.button-sign-up:hover {
    background: white;
    color: $blue;
    border: 2px solid $blue;
    transition: 0.5s;

}

button {
    color: $white;
    border: 1px solid $white;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;


    img {
        border: none;
    }
}

.Link-return,
.button-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: $grey3;
    color: $white;
    height: 32px;
    border-radius: 10px;
    border: none;
    font-size: 9px;
    font-weight: 600;
    line-height: 22px;
    width: 79px;
    margin-bottom: 40px;

    &:hover {
        background: $white;
        color: $grey3;
        border: 1px solid $grey3;
        transition: 0.5s;

    }
}

label {
    color: $darkblue;
    font-size: 15px;
    font-weight: 400;
    align-self: flex-start;
    padding-right: 10px;
}

.button-admin-dashboard {
    background: red;
    color: white;
    border-radius: 10px;
    width: 150px;
    text-decoration: none;
    border: 2px solid lightgreen;
    height: 50px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-wrap: wrap;

    &:hover {
        background: $white;
        border: 1px solid red;
        color: red;
    }
}