@import "../../utils/Mixins/Mixins.scss";

.what-we-do-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.what-we-do-card {
    width: 350px;
    border: 1px solid #ccc;
    padding: 20px 10px;
    display: flex;
    @include center-column;
}

.card-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    margin-top: 10px;
    width: 80%;
}

.card-description {
    margin-top: 10px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 80%;
}