@import "../../App.scss";
@import "../../utils/Mixins/Mixins.scss";

.logo {
    width: 50px;
}

header {
    padding: 20px 0px;
    width: 70%;
    display: flex;
    @include between-row;
}

.text-logo {
    color: $grey4;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration: none;


    span {
        color: $blue;
    }
}

.header-login {
    display: flex;
    @include between-row;
}

.logo-and-name {
    height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.header-dashboard {
    height: 50px;
    display: flex;
    @include between-row;
}

