@import "../../utils/Mixins/Mixins.scss";
@import "../../App.scss";

footer {
    display: flex;
    @include center-column;
    background: $lightblue;
    width: 100vw;

}

.footerAdress {
    color: $white;
    width: 80%;
    text-align: center;


    p {
        color: $white;
    }
}

.copyright {
    width: 80%;
    text-align: center;
    color: $white;
    font-size: 15px;

    p {}
}