@import "../../utils/Mixins/Mixins.scss";


.main-content {
    display: flex;
    @include center-column;

}

.homePage-Nav {
    display: flex;

    @include between-row;
    gap: 10px;


}

.whatWeDo,
.aboutUs {
    width: 80%;
    margin-bottom: 50px;
}