@import "../../utils/Mixins/Mixins.scss";


.main-content {
    display: flex;
    @include center-column;

    @include mq (tablet) {
        margin-left: 150px;
    }

    @include mq (desktop) {
        margin-left: 0px;
    }

}

.homePage-Nav {
    display: flex;

    @include between-row;
    gap: 10px;


}

.whatWeDo,
.aboutUs {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    @include center-column;

    .aboutUsText,
    .whatWeDoText {
        font-size: 15px;
        font-weight: 500;
    }

    img {
        width: 80%;
    }
}

.whatsapp-icon {
    position: fixed;
    right: 25px;
    bottom: 55px;
    width: 75px;
    height: auto;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.2);
    }
}