@import "../../utils/Mixins/Mixins.scss";

.nav-Home {

    width: 100vw;
    background: $lightblue;
    padding: 20px 0px;
    display: flex;
    @include center-row;

    div {
        width: 90%;
        display: flex;
        @include around-row;
    }
}
