@import "../../utils/Mixins/Mixins.scss";
@import "../../App.scss";

.nav-Home {

    width: 100vw;
    background: $lightblue;
    padding: 20px 0px;
    display: flex;
    @include center-row;

    div {
        width: 90%;
        display: flex;
        @include around-row;
    }
}

.nav-Home-Link {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    padding: 2px 4px;
    font-size: 16px;
}

.nav-Home-Link:hover {
    padding: 0px 0px;
    font-size: 18px;
    transition: 0.3s;
}